.jumbotron{
	background: url(../images/black-sunset.jpg) no-repeat; 
    /*-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;*/

    background-size: 100% 100%;
    min-height: 100vh;
    margin:0;
    padding-bottom: 0;
    position: relative;

}

#arrow-button{
	position: absolute;
	bottom: 10px;
}

.center-block > .title-class{
	margin-top: 200px;
	margin-bottom: 10px;
}

.title-class{
	font-size: 2.5em;
	color: white;
}


#subtitle {
	margin:40px;
	color: white;
	font-size: 1.5em;
}
.slide.nea p {
	text-align: justify;
}

.slide span {
	color: white;
}

.workshop-title{
	margin-top: 10px;
	color: #585455;
}

.date{
	color: #c7c7c7;
}

.slide.nea img{
	margin: 10px; 
}

#title-id{
	margin: 40px 40px 10px 40px;
}

#title-id h3{
	border-bottom: 2px solid #22397d;
	font-weight: bold;
	color: #22397d;
}

hr{
	border-width: 2px;
	border-top: 1px solid black;
}

.row.nea{
	margin-bottom: 20px;
	margin-top: 20px;
}

@media (max-width: 768px){
.row.nea > .col-xs-12{
	margin-bottom: 20px;
	margin-top: 20px;
}
.row.nea{
	margin-top: 0;
	margin-bottom: 0;
}
}

.w3-pagination .w3-green{
	color: black!important;
	background-color: #6fd1da!important;
}

.w3-pagination a:hover{
	background-color: #6fd1da!important;
}

.mySlides{
	display: none;
}

#current-slide{
	padding-bottom: 20px;
	padding-top: 20px;
}

#container-slide{
	background-color: #c5ccf8;
	padding: 30px;
	position: relative;
}

.container{
	/*border:2px solid black;*/
}

#recent-news{
	position: absolute;
	left: 0;
	bottom:0;
	color: white;
	font-size: 1.5em;
	background-color: #3d56e4;
	opacity: .8;
}

#recent-news span{
	padding-left: 5px;
}

.slide-label{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.7;
	height: 25%;
	width: 100%;

}

.slide-label p {
	text-align: left;
	margin-left: 20px;
}

.slide-label > p:nth-child(1){
	font-size: 2.5em;
	margin-bottom: -10px;
}

.slide-label > p:nth-child(2){
	font-size: 1.2em;
	color: #969698;
}

.mySlides{
	max-width: 100%;
	padding: 0!important;
}

#slide-container{
	position: relative;
	padding: 0;
}

.necessary{
	padding: 10px 15px 10px 15px;
}

.slide-label p {
	color: white;
}

/* if another slide is put, you have to put it here to */
#slide-label2, #slide-label3{
	display: none;
}

#just-black{
	background-color: black;
}

#recent-news h3{
	border-bottom: 1px solid black;
	display: inline;
	font-weight: bold;
	color: black;
}

.adjust{
	width: 73%;
}

@media(max-width: 767px){
	.slide-label > p:nth-child(1){
	font-size: 1.2em;
	margin-bottom: -5px;
}

.slide-label > p:nth-child(2){
	font-size: 0.7em;
	color: #969698;
}

#recent-news{
	font-size: 1.2em;
}

.adjust{
	width: 33.33333333%;;
}
}

@media(max-width: 500px){
	.slide-label > p:nth-child(1){
	font-size: .8em;
	margin-bottom: -5px;
}

.slide-label > p:nth-child(2){
	font-size: 0.4em;
	color: #969698;
}

#recent-news{
	font-size: .8em;
}


}
